.NavbarWrapper{ 
    height: 60px;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.NavbarWrapper >.InternalLinks {
    display: flex;
    align-items: center;
    width: fit-content;
    float: left;
    height: 100%;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.NavbarWrapper >.InternalLinks > a{
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.05em;
}
.NavbarWrapper >.links {
    display: flex;
    float: right;
    height: 100%;
    align-items: flex-end;
    margin-right: 20px;
}